.start > div {
    position: absolute;
    background-color: #6534FF;
    height: 1em;
    bottom: 45px;
    right: 75px;
    padding: 0.5em;
    font-size: 3em;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 45px;
}
