@font-face {
    font-family: 'Kristen';
    src: url('../fonts/Kristen-ITC-Regular.ttf');
}

a {
    text-decoration: none;
}

html, body {
    margin: 0;
    height: 100%;
}

.app {
    width: 1024px;
    height: 768px;
    position: relative;
}

.scene {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}
