
.bubble-container > .bubble-scene31.num1 {
    top: 10px;
    left: 240px;
}

.bubble-container > .bubble-scene31.num2 {
    top: 200px;
    right: 360px;
}

.bubble-text-scene31.num1 {
    width: 30%;
    top: 30px;
    left: 330px;
}

.bubble-text-scene31.num2 {
    width: 15%;
    top: 220px;
    right: 470px;
}


.bubble-container > .bubble-scene32.num1 {
    top: 10px;
    left: 75px;
}

.bubble-text-scene32.num1 {
    width: 38%;
    top: 40px;
    left: 90px;
}

.bubble-container > .bubble-scene34.num1 {
    top: 40px;
    left: 20px;
}

.bubble-text-scene34.num1 {
    top: 60px;
    left: 60px;
}

.bubble-container > .bubble-scene35.num1 {
    top: 30px;
    left: 200px;
}

.bubble-container > .bubble-scene35.num2 {
    top: 50px;
    right: 160px;
}

.bubble-text-scene35.num1 {
    width: 23%;
    font-size: 22px;
    top: 50px;
    left: 275px;
}

.bubble-text-scene35.num2 {
    width: 23%;
    font-size: 22px;
    top: 65px;
    right: 200px;
}

.bubble-container > .bubble-scene36.num1 {
    top: 30px;
    left: 200px;
}

.bubble-container > .bubble-scene36.num2 {
    top: 50px;
    right: 160px;
}

.bubble-text-scene36.num1 {
    width: 23%;
    font-size: 22px;
    top: 50px;
    left: 275px;
}

.bubble-text-scene36.num2 {
    width: 17%;
    font-size: 22px;
    top: 70px;
    right: 230px;
}

.bubble-container > .bubble-scene37.num1 {
    top: 30px;
    left: 200px;
}

.bubble-container > .bubble-scene37.num2 {
    top: 50px;
    right: 160px;
}

.bubble-text-scene37.num1 {
    width: 23%;
    font-size: 22px;
    top: 50px;
    left: 265px;
}

.bubble-text-scene37.num2 {
    width: 20%;
    font-size: 22px;
    top: 65px;
    right: 220px;
}
