.bubble-container > .bubble-scene10.num1 {
    top: 30px;
    left: 30px;
}

.bubble-container > .bubble-scene10.num2 {
    top: 100px;
    right: 10px;
}

.bubble-text-scene10.num1 {
    width: 32%;
    top: 50px;
    left: 68px;
}

.bubble-text-scene10.num2 {
    width: 23%;
    top: 127px;
    right: 40px;
}

.bubble-container > .bubble-scene11.num1 {
    top: 20px;
    left: 240px;
}

.bubble-container > .bubble-scene11.num2 {
    top: 30px;
    left: 465px;
}

.bubble-text-scene11.num1 {
    width: 10%;
    top: 45px;
    left: 290px;
}

.bubble-text-scene11.num2 {
    top: 55px;
    left: 525px;
}

.bubble-container > .bubble-scene12.num1 {
    top: 40px;
    left: 150px;
}

.bubble-container > .bubble-scene12.num2 {
    top: 20px;
    right: 100px;
}

.bubble-text-scene12.num1 {
    width: 18%;
    top: 65px;
    left: 190px;
}

.bubble-text-scene12.num2 {
    top: 40px;
    right: 115px;
}

.bubble-container > .bubble-scene13.num1 {
    top: 40px;
    right: 40px;
}

.bubble-text-scene13.num1 {
    width: 30%;
    top: 80px;
    right: 50px;
}

.bubble-container > .bubble-scene14.num1 {
    top: 5px;
    left: 13px;
}

.bubble-container > .bubble-scene14.num2 {
    top: 20px;
    right: 180px;
}

.bubble-text-scene14.num1 {
    width: 15%;
    top: 25px;
    left: 50px;
}

.bubble-text-scene14.num2 {
    font-size: 24px;
    top: 45px;
    right: 185px;
}

.bubble-container > .bubble-scene15.num1 {
    top: 10px;
    left: 345px;
}

.bubble-container > .bubble-scene15.num2 {
    top: 10px;
    right: 40px;
}

.bubble-text-scene15.num1 {
    top: 30px;
    left: 440px;
}

.bubble-text-scene15.num2 {
    width: 18%;
    top: 35px;
    right: 60px;
}

.bubble-container > .bubble-scene16.num1 {
    top: 10px;
    right: 40px;
}

.bubble-text-scene16.num1 {
    width: 34%;
    top: 30px;
    left: 610px;
}

.bubble-container > .bubble-scene17.num1 {
    top: 10px;
    right: 70px;
}

.bubble-text-scene17.num1 {
    width: 19%;
    top: 75px;
    right: 142px;
}

.bubble-container > .bubble-scene18.num1 {
    top: 60px;
    left: 90px;
}

.bubble-text-scene18.num1 {
    font-size: 22px;
    width: 28%;
    top: 80px;
    left: 140px;
}
